* {
    font-family: 'Inter', sans-serif;
}

#settings-modal.show,
#loading-overlay.show {
    display: flex;
}

#collection-panel.open {
    transform: translateX(0);
}

.prose h3 {
    color: #c2410c;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prose ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.prose ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}